# Default owners for everything in the repo unless
# a later match takes precedence.
*                   @nelimee @rolandriver

# @KentonRL owns any file in deltakit-decode
# directory anywhere in the repository.
deltakit-decode/    @KentonRL


# @nelimee, @AndrewPattersonRL and @oc251
# co-own any file in deltakit-explorer
deltakit-explorer/  @nelimee @AndrewPattersonRL @oc251


# @KentonRL and @theinsanetramp co-own any file in deltakit-core
# directory anywhere in the repository.
deltakit-core/      @KentonRL @theinsanetramp
