# Automatically add labels to PR according to rules defined in `../labeler.yml`.
# These labels are then used to filter out CI tests depending on which package changed.
name: Label PRs

on:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  label-prs:
    runs-on: ubuntu-slim
    permissions:
      contents: read
      pull-requests: write
    steps:
      - id: label-PR
        uses: actions/labeler@v5
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
